.left    { text-align: left;}
			
.menu-kategori button {
    display: inline-block;
	font-size: 18px;
	font-weight: 600;
	color: #474747;
	padding: 12px 10px 5px;
	margin: 0 10px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-kategori li:hover > button{
    color: rgb(251, 8, 8);
  }

a {
    color: #000000;
}

a:hover{
    color: rgb(251, 8, 8);
}

.spad {
	padding-top: 10px;
	padding-bottom: 115px;
}

.course-warp {
	max-width: 1559px;
	padding: 0 15px;
	margin: 0 auto -30px;
}

.course-item {
	margin-bottom: 30px;
}

.course-item .course-thumb {
	height: 270px;
}

.course-item .course-thumb .price {
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	background: rgb(251, 8, 8);
	display: inline-block;
	padding: 13px 19px;
	margin: 14px;
}

.course-item .course-info {
	background: #edf4f6;
}

.course-item .course-info .course-text {
	padding: 45px 33px 25px;
}

.course-item .course-info .course-text h5 {
	margin-bottom: 5px;
}

.course-item .course-info .course-text .students {
	font-size: 10px;
	font-weight: 600;
	color: rgb(251, 8, 8);
}

.course-item .course-info .course-author {
	border-top: 1px solid #d4dee1;
	padding: 14px 33px;
	overflow: hidden;
}

.course-item .course-info .course-author .ca-pic {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	float: left;
}

.course-item .course-info .course-author p {
	padding-left: 60px;
	margin-bottom: 0;
	padding-top: 7px;
	font-weight: 600;
}

.course-item .course-info .course-author p span {
	color: rgb(251, 8, 8);
}

.course-item.featured-course {
	position: relative;
	margin-bottom: 30px;
}

.course-item.featured-course:last-child {
	margin-bottom: 30px;
}

.course-item.featured-course:nth-child(2n) .course-thumb {
	left: auto;
	right: 0;
}

.course-item.featured-course .course-thumb {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
}

.course-item.featured-course .fet-note {
	display: inline-block;
	background: rgb(251, 8, 8);
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 15px;
	margin-bottom: 20px;
}

.course-item.featured-course .course-info .course-text {
	padding: 70px 33px 25px;
}

.course-item.featured-course .course-info .course-text h5 {
	margin-bottom: 20px;
}

.course-item.featured-course .course-info .course-author {
	border-top: none;
	padding: 14px 33px 60px;
}

.course-filter {
	list-style: none;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 60px;
}


.course-filter li.mixitup-control-active {
	color: #d82a4e;
	border-bottom: 4px solid #d82a4e;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
/* background author */
.course-item .course-info .course-author .ca-pic {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	float: left;
}

.button1 {
    background-color: #ffffff;
}

input {
    background-color: rgb(251, 8, 8);
	font-size: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.section-fitur {
	position: relative;
    margin-bottom: 10px;
}
